.article{
    background-color: var(--color-bg-1);
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    box-shadow: 2px 4px 5px rgba(3,3,3,.2);
    border-left: .5rem solid #ccc;
    cursor: pointer;
}
.article:hover{
    border-left: .5rem solid var(--color-bg-6);
}
a{
    color: var(--color-2);
}